{% extends 'base.html' %}
{% block title %}
    재고 현황
{% endblock %}
{% block content %}
<style>
    #inven_ul{
    list-style: none;
    margin: 0;
    
    padding: 0;
    overflow: hidden;
    }
    .inven_li{
    list-style: none;
    float: left;
    width:120px;
    }
    </style>
    <div class="inventory_title">
        <h4> 재고 현황 </h4>
    </div>
    <table>
        <ul id="inven_ul" style = "font-weight : bold;">
            <li class = "inven_li">코드</li>
            <li class = "inven_li"> | 이름</li>
            <li class = "inven_li"> | 사이즈</li>
            <li class = "inven_li"> | 가격</li>
            <li class = "inven_li"> | 설명</li>
            <li class = "inven_li"> | 입고 날짜</li>
            <li class = "inven_li"> | 출고 날짜</li>
            <li class = "inven_li"> | 재고량</li>
        </ul>
        {% for cat in product_list %}
                <ul id="inven_ul">
                    <li class = "inven_li">{{ cat.product.product_code }}</li>
                    <li class = "inven_li"> | {{ cat.product.product_name }}</li>
                    <li class = "inven_li"> | {{ cat.product.product_size }}</li>
                    <li class = "inven_li"> | {{ cat.product.product_price }}원</li>
                    <li class = "inven_li"> | {{ cat.product.product_desc }}</li>
                    <li class = "inven_li"> | {{ cat.product.inbound_date }}</li>
                    <li class = "inven_li"> | {{ cat.product.outbound_date }}</li>
                    <li class = "inven_li"> | {{ cat.stock }}</li>

                </ul>
        {% endfor %}
    </table>
{% endblock %}
